@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Noto+Sans+KR:wght@400;500;700&display=swap');

:root {
  font-family: 'Manrope', 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1c1f26;
  background-color: #eceef2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
input {
  font-family: inherit;
}

#root {
  min-height: 100vh;
}
